// USER VARIABLES SECTION


$bg: #F4F3F4;
$bg-blue: #5CA7F2;
$bg-grey: #767677;
$bg-grey-dark: #505254;
$bg-dark: #3C3B3B;
$border: #E1E1E1;

$fontsize: 16px; // Body Font Size
$textcolor: #000; // Text Color
$lineheight: 1.25; // Document Line Height
$userfont: Roboto, sans-serif; // User Font Family
$systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif; // System Font Family

// Bootstrap compatible gutter variable => $gutter
$grid-gutter-width: 30px;
$gutter: $grid-gutter-width;

// FONTS LOAD SECTION

@mixin font($fname, $fstyle, $fweight, $furl) {
	@font-face {
		font-family: $fname;
		font-style: $fstyle;
		font-weight: $fweight;
		src: local($fname), url($furl) format('woff2');
		// font-display: swap; // Uncomment to initially display system fonts
	}
}

@include font('Roboto', normal, 400, '../fonts/roboto-regular-webfont.woff2');
@include font('Roboto', italic, 400, '../fonts/roboto-italic-webfont.woff2');
@include font('Roboto', normal, 700, '../fonts/roboto-bold-webfont.woff2');
@include font('Roboto', italic, 700, '../fonts/roboto-bolditalic-webfont.woff2');

// GENERAL DOCUMENT STYLES

::placeholder {
	color: #666;
}

input, textarea {
	outline: none;
	&:focus:required:invalid { border-color: red }
	&:required:valid { border-color: green }
}

body {
	font-family: $userfont;
	font-size: $fontsize;
	line-height: $lineheight;
	color: $textcolor;
	min-width: 320px;
	position: relative;
	overflow-x: hidden;
	display: flex;
	flex-wrap: wrap;
	margin: 0;
}

.main {
	max-width: calc(100% - 320px);
	flex-grow: 1;
}

.disabled {
	pointer-events: none;
}

.d-none {
	display: none!important;
}
