.footer {
  &-inner {
    padding: 16px 6px;
    max-width: 310px;
  }

  &-item {
    display: flex;
    margin-bottom: 2px;

    span {
      min-width: 90px;
    }
    a {
      text-decoration: none;
      color: $textcolor;
      font-weight: bold;
    }
  }
}