.pages {
  a {
    color: $textcolor;
    text-decoration: none;
  }

  &-items {
    display: flex;
    flex-flow: row wrap;
    border: 1px solid $border;
    border-style: solid none none solid;
  }

  &-item {
    width: calc(100% / 6 - 41px);
    min-height: 385px;
    border: 1px solid $border;
    border-style: none solid solid none;
    padding: 20px;
    transition: background-color .3s;

    @media (max-width: 2140px) {
      width: calc(100% / 5 - 41px);
    }

    @media (max-width: 1920px) {
      width: calc(100% / 4 - 41px);
    }

    @media (max-width: 1600px) {
      width: calc(100% / 3 - 41px);
    }

    @media (max-width: 1140px) {
      width: calc(100% / 2 - 41px);
    }

    @media (max-width: 900px) {
      width: 100%;
    }

    &:hover {
      background-color: $bg;
    }

    &-image {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 130px;
      text-align: center;
      margin-bottom: 38px;
    }

    &-links {
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      flex-flow: row wrap;
      max-width: 170px;
      margin-left: 21%;

      li {
        margin: 0 4px 2px 0;
      }
    }

    &-title {
      display: block;
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 8px;
      margin-left: 21%;
      max-width: 150px;
    }

    &-category {
      min-height: 315px;
      width: calc(100% / 7 - 41px);

      @media (max-width: 2140px) {
        width: calc(100% / 6 - 41px);
      }
  
      @media (max-width: 1920px) {
        width: calc(100% / 5 - 41px);
      }
  
      @media (max-width: 1600px) {
        width: calc(100% / 4 - 41px);
      }
  
      @media (max-width: 1140px) {
        width: calc(100% / 3 - 41px);
      }

      @media (max-width: 900px) {
        width: calc(100% / 2 - 41px);
      }

      @media (max-width: 780px) {
        width: 100%;
      }

      .pages-item-image {
        margin-top: 20px;

        img {
          max-height: 145px;
        }
      }

      .pages-item-title {
        font-size: 20px;
        text-align: center;
        margin: 0 0 10px;
        max-width: 100%;
      }

      .pages-item-desc {
        text-align: center;
      }
    }
  }
}