.product {
  &-inner {
    padding: 20px;
    display: flex;
  }

  &-info {
    display: flex;
    flex-direction: column;

    h1 {
      font-size: 36px;
      margin: 0 0 30px;
    }

    &-list {
      margin: 0;
      font-size: 18px;
      list-style: none;
      padding: 0;

      li {
        padding-left: 30px;
        position: relative;

        &:before {
          content: '';
          width: 8px;
          height: 8px;
          position: absolute;
          top: 50%;
          left: 5px;
          transform: translate(0, -50%);
          border-radius: 50%;
          background-color: #5CA7F2;
        }

        &:not(:last-child) {
          margin-bottom: 10px;
        }
      }
    }

    &-footer {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-top: auto;
    }
  }

  &-total {
    font-size: 38px;
    font-weight: 700;
    margin-right: 10px;
    white-space: nowrap;
    margin: 10px 10px 10px 0;
  }

  &-slider {
    width: 500px;
    height: 500px;
    padding: 2px;
    margin-right: 20px;
  }

  .swiper-container {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  .swiper-slide {
    background-size: cover;
    background-position: center;
  }

  .gallery-top {
    height: 80%;
    width: 100%;
  }

  .gallery-thumbs {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
  }

  .gallery-thumbs .swiper-slide {
    width: 20%;
    height: 100%;
    opacity: 0.4;
    cursor: pointer;
  }

  .gallery-thumbs .swiper-slide-thumb-active {
    opacity: 1;
  }
}